Source: rpi-update
Section: unknown
Priority: extra
Maintainer: Alex Bradbury <asb@asbradbury.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: https://github.com/asb/rpi-update

Package: rpi-update
Architecture: all
Depends: ${misc:Depends}, binutils, curl
Description: Raspberry Pi firmware updating tool
